In [2]:
letter='''|DEAR <|Name|>,
you are selected!
<|Date|>'''
print(letter.replace("<|Name|>","Madhav"))

|DEAR Madhav,
you are selected!
<|Date|>

In [ ]:
#WAP TO DETECT DOUBLE SPACE IN A STRING
name="MADHAV IS A GOOD BOY AND "
print(name.find("  "))
#THE OUTPUT IS -1 BCOZ THERE IS NO SPACE IN A GIVEN STRING

-1

In [ ]:
#WAP TO DETECT DOUBLE SPACE IN A STRING
name="MADHAV IS A   GOOD BOY AND "
print(name.find("  "))
#IN INDEX VALUE 11 THERE IS A SPACE

11

In [49]:
#REPLACE THE DOUBLE SPACE FROM PROBLEM 3 WITH SINGLE SPACES
name="MADHAV IS A   GOOD BOY AND "
print(name.replace("  ","  "))
print(name)#STRINGS ARE IMMUTABLE WHICH MEANS THAT YOU CANNOT CHANGE THEM BY RUNNING FUNCTIONS ON THEM

MADHAV IS A   GOOD BOY AND
MADHAV IS A   GOOD BOY AND

In [ ]:
letter="Dear Madhav,\n\tTHis python course is nice.\nThanks!"
print(letter)#\n means to move the sentence to  a  next line||Whereas \t means indentation

Dear Madhav,
	THis python course is nice.
Thanks!

In [24]:
ch=["a","b","c","d"]
print(ch[1:3])
print(len(name))

['b', 'c']
27

In [ ]:
#LIST
friends=["Apple","Orange",5,345.06,False,"Aakash","Rohan" ]
friends.append("Madhav")
print(friends)
l1=[1,34,62,2,6,11]
#l1.sort()-NOW THE LIST WILL ARRANGED IN ORDER
#l1.reverse-This will reverse the list
#l1.insert(3,33333)-insert 33333 such that its index in the list 3
l1.pop()#IT WILL REMOVE THE VALUE FROM A LIST
print(l1)

['Apple', 'Orange', 5, 345.06, False, 'Aakash', 'Rohan', 'Madhav']
[1, 34, 62, 2, 6]

In [13]:
a=(1)
print(type(a))

<class 'int'>

In [14]:
a=(1,)
print(type(a))

<class 'tuple'>

-lists

In [ ]:
friends=["Apple","Orange",5,345.06,False,"Aakash","Rohan" ]
friends.append("Madhav")
print(friends)
l1=[1,34,62,2,6,11]
#l1.sort()-NOW THE LIST WILL ARRANGED IN ASCENDING ORDER
#l1.reverse-This will reverse the list
#l1.insert(3,33333)-insert 33333 such that its index in the list 3
l1.pop()#IT WILL REMOVE THE ELEMENT FROM A LIST
print(l1)

['Apple', 'Orange', 5, 345.06, False, 'Aakash', 'Rohan', 'Madhav']
[1, 34, 62, 2, 6]

In [20]:
#write a program to store  seven fruits in a list entered by the user
fruits=[]

f1=input("enter fruit name: ")
fruits.append(f1)
f2=input("enter fruit name: ")
fruits.append(f2)
f3=input("enter fruit name: ")
fruits.append(f3)
f4=input("enter fruit name: ")
fruits.append(f4)
f5=input("enter fruit name: ")
fruits.append(f5)
f6=input("enter fruit name: ")
fruits.append(f6)
f7=input("enter fruit name: ")
fruits.append(f7)
print(fruits)

['mango', 'banana', 'pineapple', 'strawberry', 'dragonfruit', 'apple', 'orange']

In [22]:
n=[99,1,1,1,1]
print(sum(n))
c=n.count(1)
print(c)

103
4

- dictionary

In [ ]:
marks={
    "rahul":77,
    "shubham":55,
    "keshav":99,
    0:"naman"

}
print(marks.items())#Returns all key–value pairs as tuples
print(marks.keys())#Displays all the keys in the dictionary
print(marks.values())#Displays all the values in the dictionary
marks.update({"keshav":100,"Renuka":100})#Updates existing keys and adds new key–value pairs to the dictionary
print(marks)
print(marks.get("shhivika"))#Returns None because the key does not exist in the dictionary
print(marks.get("shubham"))#Returns the value associated with the key "shubham"

dict_items([('rahul', 77), ('shubham', 55), ('keshav', 99), (0, 'naman')])
dict_keys(['rahul', 'shubham', 'keshav', 0])
dict_values([77, 55, 99, 'naman'])
{'rahul': 77, 'shubham': 55, 'keshav': 100, 0: 'naman', 'Renuka': 100}
None
55

- SETS 
 - no repetitions allowed
 - it is unodered & unindexed
 - can  not contain duplicate items

In [ ]:
s={1,5,32}
e=set()#TO MAKE EMPTY STRING ()- IS USED INSTEAD{}
type(e)

set

In [ ]:
s={1,5,32}
s.add(6)
print(s,type(s))
s.remove(1)
print(s,type(s))
s.pop()#REMOVES AN ARBITRARY(random) ELEMENT FROM THE SET AND RETURN THE ELEMENT REMOVED
print(s,type(s))
s.clear()
print(s,type(s))#EMPTY THE SET

{32, 1, 5, 6} <class 'set'>
{32, 5, 6} <class 'set'>
{5, 6} <class 'set'>
set() <class 'set'>

In [ ]:
s1={1,45,6}
s2={7,8,1,78}

print(s1.union(s2))#RETURNS A NEW SET WITH ALL ITEM FROM BOTH SETS
print(s1.intersection(s2))#RETURNS A SET WHICH CONTAINS ONLY ITEMS IN BOTH SETS
print(s1.difference(s2)) # Finds and prints elements present only in s1 (common elements with s2 are removed)

{1, 6, 7, 8, 45, 78}
{1}
{45, 6}

In [ ]:
s1={1,45,6,78}#- IS {1,45} IS SUBSET (S1)-THIS I A SUBSET of  s1
s2={7,8,1,78}#-THIS IS SUB SET BCOZ 7,8 is present in s2
print({7,8}.issubset(s2))
print({1,6}.issubset(s1))
print({1,9}.issubset(s1))

True
True
False

- PRACTICE OF LISTS QUESTION

In [55]:
#Create a list of 5 numbers and print:
#the first element
#the last element
numbers=[1,88,37,90,48]
print(numbers[0])
print(numbers[4])
print(len(numbers))
print(numbers)

1
48
5
[1, 88, 37, 90, 48]

In [14]:
#Take a list of mixed data types and print only the string elements.
mixed=[1.5,44,"nano",88,"n"]
print(mixed[2])
print(mixed[4])

nano
n

In [15]:
n=[33,339,393,77,"string"]
if 30 in n:
    print(("ELEMENT IS PRESENT"))
else:
    print("ELEMENT IS NOT PRESENT")

ELEMENT IS NOT PRESENT

In [21]:
#Print all elements of a list using:
#for loop
#while loop
s=[ "orange","blue","green","yellow"]

for i in s:
    print(i)

orange
blue
green
yellow

In [39]:
s=["orange","blue","green","yellow","black"]
a=0
n=len(s) - 1
while a<=n:
    print(s[a],end=" ")
    a+=1

orange blue green yellow black

In [3]:
#Find Maximum of two numbers in Python
array=[12,34,4,21,9,0]
array.sort()
print(array)
lastIndex = len(array) - 1
print(len(array))
print(array[lastIndex])
print(array[-1])# -1 represents last index of a list

[0, 4, 9, 12, 21, 34]
6
34
34

In [47]:
array=[12,34,4,21,9,0]
array.reverse()
print(array)

[0, 9, 21, 4, 34, 12]

In [63]:
#MINIMUM AND MAXIMUM OF TWO NUMBERS 
array=[12,34,4,21,9,0]
print("Minimum: ",min(array))
print("Maximum: ",max(array))

Minimum:  0
Maximum:  34

In [57]:
array=[12,34,4,21,9,0,-4]
array.sort()
print(array)
print(array[0])

[-4, 0, 4, 9, 12, 21, 34]
-4

In [79]:
#Python program to interchange first and last elements in a list

#METHOD 1
a=[10,2,66,65,90]
print(a)

a[0]=a[0] + a[-1]
a[-1]=a[0] - a[-1]
a[0] = a[0] - a[-1]
print(a)

#METHOD 2
b = [20,32,4,76,12,1,11]
b[0],b[-1] = b[-1],b[0]
print(b)

#swapping without using third variable
b=5
c=10
b=b+c
c=b-c
b=b-c
print(b,c)

[10, 2, 66, 65, 90]
[90, 2, 66, 65, 10]
[11, 32, 4, 76, 12, 1, 20]
10 5

In [ ]:
#CHECK IF ELEMENT EXISTS 
a=[44,77,55,55]
#METHOD 1
if 30 in a:
    print("ELEMENT EXISTS")
else:
    print("ELEMENT DOES NOT EXISTS")

#METHOD 2
a=["string",55,"hey",88,999]
b=int(input("ENTER A VALUE FROM A USER"))#but this will only display integer values bcoz of(int) datatype used in it
if b in a:
    print(b,"exists")
else:
    print(b,"does not exists ")

ELEMENT DOES NOT EXISTS
66 does not exists

In [ ]:
a=["string",55,"hey",88,999]
b=input("ENTER A VALUE FROM A USER")#WILL SHOW ONLY STRING VALUES
if b in a:
    print(b,"exists")
else:
    print(b,"does not exists ")

55 does not exists

In [ ]:
#sort THE GIVEN LIST IN DESCENDING ORDER
b=[2,7,0,3,75,58,9,1,3,-3,-19]
b.sort()
print(b)
b.reverse()
print(b)

[-19, -3, 0, 1, 2, 3, 3, 7, 9, 58, 75]
[75, 58, 9, 7, 3, 3, 2, 1, 0, -3, -19]

In [ ]:
#CLONING OR COPYING OF LIST
b=[2,7,0,3,75,58,9,1,3,-3,-19,[1, 2], [3, 4]]
# Creating a shallow copy of list b and hence
#shallow copy does NOT copy nested objects.
#It only copies the references of inner objects.
# Only the outer list is copied, nested lists are shared
c= b.copy()
# Printing the copied list (same content as b initially)
print(c)
# Modifying the first nested list in the copied list
# Since this is a shallow copy, the inner list is the SAME object in both b and c
c[11].append(20)
print("Outer changes")
print(b)
print("original: ",c)

[2, 7, 0, 3, 75, 58, 9, 1, 3, -3, -19, [1, 2], [3, 4]]
Outer changes
[2, 7, 0, 3, 75, 58, 9, 1, 3, -3, -19, [1, 2, 20], [3, 4]]
original:  [2, 7, 0, 3, 75, 58, 9, 1, 3, -3, -19, [1, 2, 20], [3, 4]]

In [54]:
a=[2,7,0,3,75,58,9,1,3,-3,-19,[1, 2], [3, 4]]
b=a.copy()
print(b)
b.append(10)
print(b)
print(a)

[2, 7, 0, 3, 75, 58, 9, 1, 3, -3, -19, [1, 2], [3, 4]]
[2, 7, 0, 3, 75, 58, 9, 1, 3, -3, -19, [1, 2], [3, 4], 10]
[2, 7, 0, 3, 75, 58, 9, 1, 3, -3, -19, [1, 2], [3, 4]]

In [79]:
#Count Occurrences of an Element in a List in Python
#METHOD 1
a=[1,2,3,90,90,3,3,3,3,33,3,3,33,1]
print(a.count(3))


#METHOD 2
b=[1,1,1,1,1,89,90,-1,-1,-1,-1,-1]
count=0
for i in b:
    if i==1:
        count+=1
print(count)

7
5

In [ ]:
#Find Sum and Average of List in Python
#method 1 
a=[10,20,30,40,50,60,70,80]
s1=sum(a)
print(s1)
avg=s1/len(a)#we can also use this // to remove 0
print(avg)

#method 2
b=[10,20,30,40,50,60,70]
sum=0
c=0
for  i in b:
    sum+=i
    c+=1 #c is basically for counting numbers in a list

new_avg=sum//c  #to remove 0 
print(sum)
print(new_avg)

360
45.0
280
40

In [ ]:
#Multiply All Numbers in the List in Python
a=[1,2,3,4,5]
p=1
for i in a:
    p=p*i
print(p)

#method 2
b=[2,3]
import math
r=math.prod(b) # prod() method can be used to find the product in a list
print(r)

120
6

In [ ]:
#Python Program to Find Second Largest Number in a List
#METHOD 1
x=[99,105,49,77,55,88,81]
x.sort()
x.reverse()
a=x[1]
print(a)

#METHOD 2

99

In [7]:
#PRINT EVEN  NUMBAERS IN THE LISTS
a=[20,41,1,1,44,55,90]
for i in a:
    if i%2==0:
        print(i,"is even number")

for i in a:
    if i%2==1:
        print(i,"is odd number")

20 is even number
44 is even number
90 is even number
41 is odd number
1 is odd number
1 is odd number
55 is odd number

In [ ]:
#count even and odd numbers in a list
a=[1,11,13,15,17,-2,4,-1]
c=0
for i in a:
    if i%2==1:
        c+=1
print(c)

d=0
for n in a:
    if n%2==0:
        d=d+1
print(d)

6
2

In [16]:
#Python Program to Print Positive Numbers in a List
a=[-1,-3,-2,1,2,3]
for i in a:
    if i>0:
        print(i)

1
2
3

In [26]:
#Program to Print Duplicates from a List of Integers in Python

nums = [1, 2, 3, 2, 4, 1, 5, 2]

# Empty list to store duplicate elements
duplicates = []

# Loop through each element in the list
for i in nums:
    
    # Check if the element appears more than once in the list
    # AND it is not already added to the duplicates list
    if nums.count(i) > 1 and i not in duplicates:
        
        # Add the duplicate element to the duplicates list
        duplicates.append(i)


print("Duplicate elements are:", duplicates)

Duplicate elements are: [1, 2]

In [ ]:
#Get Unique Values from a List in Python
nums = [1, 2, 3, 2, 4, 1, 5, 2]

# Empty list to store duplicate elements
unique=[]

# Loop through each element in the list
for num in nums:
    
    # Check if the element is not already present in unique list
    if num not in unique:
        
        # Add the element only once otherwise skip if it is in included in unique
        unique.append(num)

print("unique elements are:", unique)

unique elements are: [1, 2, 3, 4, 5]

In [47]:
#MERGE THE LIST
# METHOD 1  
a=[10,20,30]
b=[40,50,60,70]
c=a+b
print(c)

#METHOD 2
x=[10,20,30]
y=[40,50,60,70]
x.extend(y)
print(x)

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]

In [ ]:
#Remove Multiple Elements from List in Python
x=[10,20,30,40,50,60]
r=[]

In [8]:
a=[1,2,3,4]
b=[4,5,6]
print(set(a).union(b))# coverted list into a set 
print(set(a).intersection(b))

{1, 2, 3, 4, 5, 6}
{4}

In [ ]:
# Position of maximum and minimum element in a list - Python
a=[10,4,9,40]
a.sort()
print(a)
b=len(a)-1
print(a[b])# MAXIMUM
print(a[0])# MINIMUM

[4, 9, 10, 40]
40
4

In [ ]:
# Python Program to Convert a List to String
a = ['Geeks', 'for', 'Geeks']
b= ' '.join(a)
print(b)

Geeks for Geeks

In [ ]:
# PALINDROME NUMBER
num=int(input("ENTER A NUMBER FROM A USER"))
temp=num

rev=0

while num>0:
    rev=rev*10 + num%10
    num=num//10

if temp==rev:
    print(rev," IS PALINDROME NUMBER ") # we can also use temp instead of rev
else:
    print(rev,"IS NOT PALINDROME NUMBER")

5555  IS PALINDROME NUMBER

In [27]:
# ARMSTRONG NUMBER
num=int(input("ENTER A NUMBER FROMA USER "))
temp=num
a=0

while num>0:
    rem=num%10
    a=a+ rem**3
    num=num//10

if a==temp:
    print(temp,"is armstrong number ")
else:
    print("not armstrong")

153 is armstrong number

In [ ]:
# Perfect number     example-6 → 1 + 2 + 3 = 6
num=int(input("ENTER A NUMBER"))
s=0
for i in range(1,num):
    if num%i==0:
        s+=i
if(num==s):
    print(num," is a PERFECT NUMBER")
else:
    print(num,"is NOT PERFECT NUMBER")

6  is a PERFECT NUMBER

In [25]:
# NEON NUMBER  EXAMPLE- 9 →9² = 81 → 8 + 1 = 9
n=int(input("ENTER A NUMBER FROM A USER"))
s=0
sq=n*n
while sq>0:
    s+=sq%10
    sq//=10

if (s==n): 

    print(n," is NEON NUMBER")
else:
    print(n," is NOT A NEON NUMBER")

9  is NEON NUMBER

In [ ]:
#  Strong Number
#A number whose sum of factorial of digits equals the number. example-145 → 1! + 4! + 5! = 1 + 24 + 120 = 145
num=145
temp=num
s=0
while(temp>0):

    rem=temp%10
    fact=1    # # reset factorial for EACH digit & factorial calculation must start fresh for each digit

    for i in range(1,rem+1):
        fact=fact*i
    s=s+fact
    temp=temp//10    

if(s==num):
   print(s," strong number")
else:
   print(s," not strong number")

145  strong number

In [ ]:
# NEON NUMBER  EXAMPLE- 9 →9² = 81 → 8 + 1 = 9
n=int(input("ENTER A NUMBER FROM A USER"))
s=0
sq=n*n
while sq>0:
    s+=sq%10
    sq//=10

if (s==n): 

    print(n," is NEON NUMBER")
else:
    print(n," is NOT A NEON NUMBER")

9  is NEON NUMBER

In [ ]:
# LCM of two numbers

In [2]:
# PALINDROME NUMBERS
n=int(input("ENTER A NUMBER"))
orig=n
rev=0

while n>0:
    digits=n%10
    rev=rev*10 + digits
    n=n//10

if orig==rev:
    print(f"{orig} is a palindrome number.")
else:
    print(f"{orig} is not a palindrome number")

121 is a palindrome number.

In [17]:
# Find Missing Number in 1 to N
list=[1,2,4,5]
n=5

expected_sum=n*(n+1)//2
actual_sum=sum(list)
print(expected_sum - actual_sum)

3

In [16]:
# Find the First Non-Repeating Element
lst = [4, 5, 7,1, 2, 5, 1, 4, 3]
array = []

for i in lst:
    if lst.count(i) == 1:
        array.append(i)

if array: # checks whether the list is not empty (True if it has at least one element)
    print(array[0])
else:
    print(" NO NON REPEATING ELEMENTS")

7