- FOR LOOPS

In [ ]:
fruits=["apple","banana","grapes","orange"]
for x in fruits:#X WILL CHECK AGAIN AND AGAIN UNTIL THE  ELEMENTS IN LISTS GOT DISPLAYED
    print(x,end=" ")

apple banana grapes orange

In [5]:
name="madhav rastogi"
for x in name:
    print(x,end="")

madhav rastogi

In [6]:
for i in range(1,3):
    print(i)

1
2

In [10]:
#PRINT YOUR NAME 6 TIMES
name=["madhav","madhav","madhav","madhav","madhav","madhav"]
for i in name:
    print(i,end=" ")

madhav madhav madhav madhav madhav madhav

In [8]:
#PRINT ALL EVEN NUMBERS TILL 20 WITHOUT USING CONDITION STATEMENT 
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [8]:
#PRINT ALL ODD NUMBERS TILL 20 USING CONDITION STATEMENT
for i in range(1,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

- WHILE LOOP

In [11]:
x=0
while x<=5:
    print(x,end=" ")
    x+=1

0 1 2 3 4 5

In [13]:
x=1
while x<3:
    print(x,end=" ")
    x+=1

1 2

In [3]:
#PRINT YOUR NAME 6 TIMES
a="madhav"
b=0
while b<=5:
    print(a)
    b=b+1

madhav
madhav
madhav
madhav
madhav
madhav

In [6]:
#PRINT ALL EVEN NUMBERS TILL 20 WITHOUT USING CONDITION STATEMENT 
x=0
while x<21:
    x%2==0
    print(x,end=" ")
    x+=2

0 2 4 6 8 10 12 14 16 18 20

In [10]:
x=1
while x<21:
    x%2!=0
    print(x,end=" ")
    x+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20