- calculate the area of circle
- WAP to check whether the two sides of a rectangle are equal or not
- WAP to check whether a triangle is an equilateral, iscoceles triangle 
- WAP to check whether a character entered by user is vowel or not
- calculate the gross salary of an employee where the basic salary is 50000, HRA is 10% of basic salary and DA is 5% of basic salary

- print numbers from 5 to 50
- print all the even numbers between 1 to 20 without using condition statement
- print all the odd numbers between 1 to 20 using condition statement

In [9]:
pie=3.14
r=int(input('ENTER A NUMBER FROM A USER'))
area=pie*r*r
print(area)

78.5

In [2]:
#WAP to check whether the two sides of a rectangle are equal or not

s1=int(input("ENTER A NUMBER"))
s2=int(input("ENTER THE NUMBER 2"))
if(s1==s2):
    print("sides of rectangle are equal")
else:
    print("NOT EQUAL")

sides of rectangle are equal

In [ ]:
#WAP to check whether a triangle is an equilateral, iscoceles triangle 
s1=int(input("ENTER A SIDE"))
s2=int(input("ENTER A SIDE"))
s3=int(input("ENTER A SIDE"))
if(s1==s2==s3):
    print("A TRIANGLE IS AN EQUILATERAl")
else:
    if(s1==s2) or (s2==s3) or (s1==s3):

        print("A TRIANGLE IS AN ISOCELESS")
    else:
        print("the side is not equal")

the side is not equal

In [21]:
#WAP to check whether a character entered by user is vowel or not
ch=input("ENTER A STRING FROM A USER")
if(ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u'):
    print("A CHARACTER IS VOWEL ")
else:
    print(" A CHARACTER IS NOT A VOWEL")

 A CHARACTER IS NOT A VOWEL

In [3]:
#calculate the gross salary of an employee where the basic salary is 50000, HRA is 10% of basic salary and DA is 5% of basic salary
bs=5000
hra=0.1*5000
da=0.05*5000
gs=hra+da+bs
print(gs)

5750.0

In [ ]:
#print numbers from 5 to 50
for i in range(5,51,5):
    print(i,end="  ")# end is used for to put the output in a single line

5  10  15  20  25  30  35  40  45  50

In [27]:
#print all the even numbers between 1 to 20 without using condition statement
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [32]:
#print all the odd numbers between 1 to 20 using condition statement

for i in range(21):

    if(i<=20) and (i%2==1):

        print(i)

1
3
5
7
9
11
13
15
17
19

` operator `
 - arithmetic 
   - sub point 1
   - sub point 2

In [6]:

for i in range(5):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

In [25]:
for i in range(5,0,-1):
    for j in range(5,i,-1):
        print("",end=" ")
    for k in range(i,i+1):
        print("*",end="")
        print()

*
 *
  *
   *
    *

In [1]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print("",end=" ")
    for k in range(i,i+1):
        print("*",end="")
        print()

     *
    *
   *
  *
 *

- PRACTICE OF all programs

In [1]:
#Python Program for Simple Interest
p=int(input("ENTER A NUMBER FROM THE USER"))
r=int(input("ENTER A NUMBER FROM THE USER"))
t=int(input("ENTER A NUMBER FROM THE USER"))
si=p*r*t
print(si)

216

In [ ]:
#CHECK WHETHER THE NUMBER IS ARMSTRONG OR NOT --*

In [ ]:
#Python Program to Print all Prime numbers in an Interval --*
n=10
for i in range(1,n+1):
    if (i<=10) & (i%2==0):
        print(n)

10
10
10
10
10

In [22]:
#program to check if the number is Prime or not in Python.
n=99
if(n%2==1):
    print(n,"IS PRIME NUMBER ")
else:
    print(n,"IS NOT A PRIME NUMBER")

99 IS PRIME NUMBER

In [3]:
#to Check if a Given Number is Fibonacci number - Python exmaple 0,1,1,2,3,5,8,13,21
n=10
a=0
b=1
z=0
while(n<10):
    print(z)
    a=b
    b=z
    z=a+b
    print(z)

In [2]:
#WAP TO DISPLAY CALENDAR
import calendar
year=int(input("ENTER A YEAR"))
month=int(input("ENTER A MONTH"))
cal=calendar.month(year,month)
print(cal)

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [2]:
#WAP TO GENERATE A FOUR DIGIT OTP
import random
for i  in range(1,5):
    otp =int(random.randint(0, 9))
    print(otp,end="  ")

3  9  3  2

In [3]:
#WAP TO SWAP TWO VARIABLES WITHOUT TEMP VARIABLE
a=5
b=10
a=a+b
b=a-b
a=a-b
print("a=",a)
print("b=",b)

a= 10
b= 5

In [ ]:
#WAP TO CHECK LEAP YEAR 
year=int(input("ENTER A YEAR"))
if(year%400==0) and ( year%100==0):
    print(year,"IS A LEAP YEAR")
if(year%4==0) and (year%100!=0):
    print(year,"IS A LEAP YEAR")
else:
    print(year,"IS NOT A LEAP YEAR")

2001 IS NOT A LEAP YEAR

In [10]:
#WAP TO CHECK A PRIME NUMBER 
n=int(input("ENTER A NUMBER"))
if(n%2==1):
    print("prime number")
else:
    print("not a prime number")

prime number

In [6]:
#WAP TO FIND THE FACTORIAL OF A NUMBER
n=int(input("ENTER A NUMBER"))
fact=1
for i in range(1,n+1):
        fact=fact*i
print(fact)

24

In [20]:
import datetime
print(datetime.datetime.now())

2025-12-20 21:17:03.976785

In [3]:
import math
print(math.sqrt(25))   # Square root
print(math.pow(2, 3))  # Power
print(math.factorial(5))

5.0
8.0
120

In [5]:
import time
time.sleep(5)   # Wait for 2 seconds
print("Hello")

Hello

In [9]:

import math
n=int(input("ENTER A NUMBER FROM A USER"))
print(round(math.sqrt(n)))
print(math.factorial(n))

2
120

In [ ]:
#WAP TO GENERATE A FOUR DIGIT OTP
import random
for i  in range(1,5):
    otp =int(random.randint(0, 9))
    print(otp,end="  ")

2  7  0  0

In [ ]:
#WRITE A PROGRAM THAT DISPLAYS THE CURRENT,DATE AND TIME
import calendar

- PATTERNS

In [ ]:
n=int(input("ENTER A NUMBER FROM A USER"))
for i in range(n):
    for j in range(i+1):#IT ONLY TELL HOW MANY IDENTIFIERS WILL BE THERE 
        print("*",end=" ")
    print()#TO MOVE THE OUTPUT TO THE  NEXT LINE

*
* *
* * *
* * * *
* * * * *

In [11]:
n=int(input("ENTER A NUMBER FROM A USER"))
for i in range(n,0,-1):# 5 4 3 2 1
    for j in range(i,0,-1):# 5 4 3 2 1
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:

for i in range(1,6):# 1 2 3 4 5
    for j in range(i):# 1-one iteration,2-two iterations,3-three iteration,4-four iteration,5-five iteration(like-01234)
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [18]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
#SQUARE HOLLOW PATTERN
n=int(input("ENTER A NUMBER FROM A USER"))
for i in range(1,n+1):#i REPRESENTS ROWS
    for j in range(1,n+1):#j REPRESENTS COLUMNS
        if(i==1 or i==n or j==1 or j==5):
            print("*",end="  ")
        else:
            print(" ",end="  ")
    print()

*  *  *  *  *
*           *
*           *
*           *
*  *  *  *  *

In [ ]:
#NUMBER TRIANGULAR
n=int(input("ENTER A NUMBER OF ROWS"))
for i in range(n):
    for j in range(n-i-1):#TO PRINT THE SPACES,6-0-1=5-SPACES | 6-1-1=4-SPACES
        print(" ",end="")
    for j in range(i+1):#TO PRINT THE STARS
        print(i,end=" ")
    print()

     0
    1 1
   2 2 2
  3 3 3 3
 4 4 4 4 4
5 5 5 5 5 5

In [ ]:
#NUMBER INCREASING PYRAMIDS
n=int(input("ENTER A NUMBER OF ROWS"))
for i in range(1,n):#rows-IT REPRESENTS OUTER LOOP
    for j in range(1,i+1):#column-IT RPRESENTS INNER LOOP
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [61]:
#NUMBER INCREASING PYRAMID
for i in range(4,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [ ]:
#NUMBER CHANGING PATTERN
n=4
num=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(num,end=" ")#PRINT THE CURRENT VALUE OF NUM i.e-1
        num+=1# INCREASE NUMBER BY 1 /// THEN NUM BECOME NUM=1+1=2,2+1=3.....
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
#NUMBER TRIANGULAR
n=int(input("ENTER A NUMBER OF ROWS"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(2*i+1):
        print(i,end=" ")
    print()

In [ ]:
n=6
for i in range(1,n):
    for j in range(n-i-1):#TO PRINT THE SPACES,6-0-1=5-SPACES | 6-1-1=4-SPACES
        print(" ",end="")
    for j in range(0,i+1):#TO PRINT THE STARS
        print(i,end=" ")
    print()