variable is storage location for data to be stored


# rules -
variable name can have alphabets, numbers and underscore only

- we cannot start a variable with numbers 1abc
- we can use only underscore_ and no  other special characters like @,#,$
- variable  name can start with an unaderscore - _abc
- there should be no spaces between name o0f variable :
   - my_name
   - myname
   - my name # is not correct

In [ ]:
#operators
a=20
b=10
sub=a-b
product=a*b
div=a/b
print("subtraction",sub)
print("multiplication",product)
print("division",div)# gives quotient

subtraction 10
multiplication 200
division 2.0

In [2]:
#modulus/gives remainder
#division/gives quotient
num1=10
num2=4
print("Quotient",num1/num2)
print("Remainder",num1%num2)

Quotient 2.5
Remainder 2

In [ ]:
print("floor division",10//3)# IT GIVES ONLY INTEGER PART NOT DECIMAL PART

floor division 3

In [ ]:
#EXPONENTIATION MAENS MULTIPLICATION WITH SAME NUMBER
#LIKE 10**3 MEANS 10*10*10

exponent=10**3
print(exponent)

1000

In [6]:
print(5**6)

15625

In [10]:
x=10
y=5
x+=5
y*=5
print(x)
print(y)

15
25

In [12]:
b=10
b**=10
print(b)

10000000000

In [15]:
c=20
c//=10
print(c)

2

In [19]:
c=20
d=200
print(c==d)
print(c!=d)
print(c>d)
print(c<d)

False
True
False
True

In [21]:
age=18
print(age>=18)
print(age<=18)

True
True

In [ ]:
age=19
country="India"
print(age>=18 and country=="India")

True

In [23]:
age=19
country="china"
print(age>=18 and country=="India")

False

In [24]:
#for visiting india 
country="china"
print(country=="india" or age>1)

True

In [25]:
a=10
print(not(a==10))

False

In [30]:
str="India"

In [ ]:
str2=str#we check that the given 2 variables are equal or not
print(str2 is str)

True

In [29]:
str3="CHINA"
print(str is not str3)

True

In [31]:
str="my name is madhav"
print("madhav" in str)
print("happy" in str)

True
False