In [ ]:
name= "SHERLOCK HOLMES"
print(name[:8])
name[-6:] # IT WILL GIVE RAW OR FORMATTED OUTPUT 
 # len(name)

SHERLOCK

'HOLMES'

# STRING FUNCTIONS

In [8]:
' ha ' * 10

' ha  ha  ha  ha  ha  ha  ha  ha  ha  ha '

In [1]:
'abc'.ljust(10,'$') # left justify it means will take 10 character and will move the abc into first

'abc$$$$$$$'

In [15]:
'xyz'.ljust(10,'*')

'xyz*******'

In [12]:
'abc'.rjust(10,'#')

'#######abc'

In [16]:
'abc'.center(11,'@')

'@@@@abc@@@@'

In [18]:
for i in range(10):
    print(i*'# ')

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #

In [19]:
for i in range(10):
    print((i*'# ').rjust(20))

                  #
                # #
              # # #
            # # # #
          # # # # #
        # # # # # #
      # # # # # # #
    # # # # # # # #
  # # # # # # # # #

In [ ]:
for i in range(1,12,2): # by taking a gap of 2 
# example- 1 st iteration (1) one time print* then 
# 2nd iteration i=3 so print 3 stars centre of 21 bcoz of space also counting in mid of total space 
    print((i*'$ ').center(21)) # count the space also in btw $

          $
        $ $ $
      $ $ $ $ $
    $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $

In [54]:
# reverse pyramid 
for i in range(13,0,-2):
    print((i*'$ ').center(25))

$ $ $ $ $ $ $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $ $ $ $
    $ $ $ $ $ $ $ $ $
      $ $ $ $ $ $ $
        $ $ $ $ $
          $ $ $
            $

In [66]:
# DIAMOND
for i in range(1,7):
    print((i*'* ').center(14))

for j in range(7,0,-1):
    print((j*'* ').center(14))

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [10]:
for i in range(7,0,-1):
    print((i*'* ').center(14))

for j in range(1,8):
    print((j*'* ').center(14))

* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [8]:
for i in range(7,0,-1):
    print((i*'* ').center(14))

for j in range(1,8):
    print((j*'* ').center(19))

* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *

In [ ]:
name="MaDhAV"
print(name.upper())
print(name.lower())
print(name.swapcase())
print(name.title()) # first letter small and other in small

MADHAV
madhav
mAdHav
Madhav

In [17]:
'nice'.casefold() == 'Nicce'.casefold()

False

In [18]:
'nice'.casefold() == 'Nice'.casefold()

True

In [ ]:
'--765467--'.strip('-') # rstrip()- to remove left , rstrip- to remove right elements while strip will remove both elements in left and righht

'765467'

In [20]:
'--765467--'.rstrip('-')

'--765467'

In [22]:
'  --765467--'.lstrip(' ')

'--765467--'

In [23]:
name="sherlock hollmes"
name.replace('o','0')

'sherl0ck h0llmes'

In [24]:
name.replace(' ','')

'sherlockhollmes'

In [ ]:
my_name="madhav"
for v in 'aeiou':
    my_name=my_name.replace(v,'') # '' is used to empty string
    print(my_name)

mdhvm
mdhvm
mdhvm
mdhvm
mdhvm

In [32]:
print(my_name)

madhav

In [33]:
my_name.replace('a','').replace('e','').replace('i','').replace('o','')

'mdhv'

for link ('/') to split

In [ ]:
name="Sherlock Holmes"
name.split()

['Sherlock', 'Holmes']

In [35]:
name="Sherlock Holmes"
name.split('l')

['Sher', 'ock Ho', 'mes']

In [48]:
# WAP TO FIND FIRST NAME FROM USER'S FULL NAME
name='Madhvam Rastogi'
name.split(' ')[0] # first split it by space the output will be a name splitted and print its index value

'Madhvam'

In [3]:
# reverse the string 
name='I am Batman'
w=name.split(' ') # ['I', 'am', 'Batman']
print(w)
w.reverse() # ['Batman', 'am', 'I']
print(w)
name=' '.join(w) # Batman am I , using the variable to join the words and display it , it mean the words are in w join it
print(name)

['I', 'am', 'Batman']
['Batman', 'am', 'I']
Batman am I

In [49]:
nameList=['Leon','Scott','Kennedy']
'-'.join(nameList)

'Leon-Scott-Kennedy'

In [ ]:
name="Madhav Rastogi"
age=18

print("I am {} my age is {}".format(name,age))

#method 2 

name = "Batman"
print(f"I am {name}") # f stands for formatted string # Formatting = putting data in the required shape

I am Madhav Rastogi my age is 18
I am Batman

In [ ]:
# Count frequency of each character

In [4]:
sentence=input("Enter a sentence")
wordlist = sentence.split(' ')
wordlist.reverse()
print(' '.join(wordlist))

good am i

In [8]:
name='sherlock holmes'
name.find('l')

4

In [7]:
name

' sherlock holmes'

In [9]:
name.rfind('l')

11

In [ ]:
name.find('z') # iit means character z is not in a sentence

-1

In [ ]:
name.index('x') # index will give erroor if ch is not in a sentence

ValueError: substring not found

In [ ]:
# how can we find a index without using left or right
name2="Madan Mohan Malviya"
name2.find('M',1)

6

In [14]:
name2.find('M',7)

12

In [22]:
print('abc'.isupper())
print('abc'.islower())
print('abc5'.isalnum())
print('56'.isdigit())
print(' '.isspace())
print('abc'.startswith('a'))
print('abc'.endswith('a'))

False
True
True
True
True
True
False

- what does symmetric means?
   - when someting is divided in two equal parts, both parts looks exactly the same
     
      --A STRING IS SYMMETRIC IF:
         - length of string is even
         - when you split it  from the middle
         - when first_half==second_half

In [ ]:
# Check Whether the String is Symmetrical or Palindrome - Python
# [::-1] means read the string from back to front

# palindrome
a="madam"
if a==a[::-1]:
    print(a," is a palindrome ")
else:
    print("not palindrome ")


length = len(a)

if length % 2 == 0:
    mid = length // 2
    first_half = a[:mid]
    second_half = a[mid:]

    if first_half == second_half:
        print(a,"is a Symmetric")
    else:
        print(a,"is Not Symmetric")
else:
    print(a,"is not symmetric") # bcoz if we will not use this then it will not show
    # a,"is not symmetric" print this if len is odd
    # print this (a,"is a Symmetric") if the len is even

madam  is a palindrome
madam is not symmetric

-enumerate() is a built-in Python function that adds a counter (index) to an iterable and returns it as an enumerate object.
 - This allows you to loop over the iterable and access both the index and the value at the same time.
  -- key point:
      - works with strings,lists,tuples and other iterable
      - default value start by 0,but you can change it with start parameter
      - useful when position of elements matter
(iterable) mean -Iterable is a Python object that can be looped over, giving one element at a time.

In [28]:
a="madam"
for i,char in enumerate(a):
    print(i,char)

0 m
1 a
2 d
3 a
4 m

In [37]:
# Python program to print even length words in a string
s="python is great"
wrds=s.split()
print(wrds)
for w in wrds:
    if len(w)%2==0: # to print even length of wrds
        print(w,end=" ")

['python', 'is', 'great']
python is

In [16]:
# How to Remove Letters From a String in Python
s="hello world"
d=s.replace("l","")
print(d)

heo word

In [ ]:
# Uppercase Half String
s="Hello"
l=len(s)//2 # 5//2-2
upper_half=s[:l].upper()
c=upper_half + s[l:]
print(c)

HEllo

In [ ]:
#python program to capitalize the first and last character of each word in a string
# Strings are immutable in Python, so to modify characters we create new strings. 
# Lists are mutable, so we temporarily store modified data in a list and finally join it back into a string.
n="bill gates"
s1=n.split()
# Step 2: Create an empty list to store modified words
# We use a list because strings are immutable
result=[]
# If the word has only one character
# then simply convert it to uppercase
for w in s1:
    if len(w)==1:
        result.appernd(w)
    else:
# Capitalize the first character
# Keep the middle characters same
# Capitalize the last character
        new_word=w[0].upper() + w[1:-1] + w[-1].upper()
        result.append(new_word)

final_string=' '.join(result) #Join the list of words back into a string
print(final_string)

BilL GateS

In [11]:
s1="give me some apples"
words=s.split()
even_words=filter(lambda w:len(w)%2==0,words)
p=" ".join(even_words)
print(p)

python is